version: "3.9"

services:
  yacht:
    image: selfhostedpro/yacht
    volumes:
      - yacht:/config
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    networks:
      - local

  db:
    image: postgres
    restart: always
    container_name: workspace_db
    networks:
      - local
    ports:
      - "54320:5432"
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DATABASE: ${DB_DEFAULT_DATABASE}
    volumes:
      - db_data:/var/lib/postgresql/data

  nginx:
    image: nginx
    container_name: web_nginx
    networks:
      - local
    ports:
      - "80:80"
    volumes:
      - .yacht/:/yacht/
      - .docker/nginx/yacht.conf:/etc/nginx/conf.d/default.conf
    environment:
      - SERVER_URL:localhost


volumes:
  yacht:
  db_data:

networks:
  local:
